@-webkit-keyframes h1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


/* The animation code */
@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* The element to apply the animation to */

  .main {
  width: 100%;
  padding: 20px; 
  background-color: red;
  background-image: url('https://media2.giphy.com/media/2CW2c7fzRtDl6/source.gif');
  background-position: center;
  background-size: cover;
  animation-name: example;
  animation-duration: 20s;
  h1 {
    text-align: center;
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: h1 1s ease-in-out infinite alternate;
    -moz-animation: h1 1s ease-in-out infinite alternate;
    animation: h1 1s ease-in-out infinite alternate;
  }
}